/* ====Root styles==== */
html:root{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(8, 41, 71);
}
/* Header styles */
h1{
    max-width:1600px;
    width: 100%;
    background-color: rgb(8, 41, 71);
    text-align: center;
    color: white;
    padding: 30px;
    margin: 0;
}


.top-p{
    font-weight: 100;
    
}

.top-wrap{
    text-align: center;
    margin-top: 30px;
    border-bottom: 5px solid rgb(8, 41, 71);
    margin-left: 35px;
}
.border-style{
    border: 1px solid rgb(8, 41, 71);
    margin-left: 35px;
    margin-top: 3px;
}
/* Button Styles */
.center-button{
    display: flex;
    justify-content: center;
}
button{
    width: 100%;
    padding: 15px;
    background-color: rgb(75, 177, 168);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
}

button:hover{
    background-color:rgb(2, 211, 193);
   border: none;
    cursor: pointer;
}
/* Input styles */

.form-wrap{
    margin-top: 3px;
    padding-top: 30px;
    margin-left: 20px;
}
.contact-input{
    width: 100%;
    max-width: 500px;
    padding:15px;
    margin: 15px;
    margin-left: 0;
    margin-right: 0;
}

.contact-input,
#zip,
textarea{
    border: 2px solid white;
    background-color: rgb(236, 234, 234);
    border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus,
#zip:focus{
    outline: none;
    border: 1.5px solid rgb(8, 41, 71);
}

fieldset{
    border: none;
}
legend{
    font-size: 20px;
    padding: 15px;
    padding-left: 0;
}
#zip{
    display: block;
    width: 30%;
    padding: 15px;
    margin: 15px;
    margin-left: 0;
}

::placeholder{
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
}

textarea{
    width:100%;
    height: 100px;
    margin-top: 10px;
    padding: 15px;
    
}

select#state{
    color: rgb(97, 95, 95);
}



.fieldset-wrap{
    border-top: 3px solid rgb(8, 41, 71);
}

.newsletter-title{
    font-size: 15px;
    display: block;
    margin: 10px;
}

.check,
.radio{
    display: block;
    padding: 6px;
}

#check-1,
#check-2,
label.wrap-2{
    padding: 10px;
}

.label-check{
    font-size: 13px;
}

/* Footer styles */
footer p{
    text-align: center;
    margin-left: 35px;
    margin-bottom: 30px;
    color: gray;
    font-style: italic;
    font-weight: bold;
}
/* =====MEDIA QUERIES====== */
@media(min-width:768px){

    .form-wrap{
        max-width: 600px;
        width:100%;
        margin-left: 20%;
        
    }
   .col{
       display: flex;
       align-items: center;
       justify-content:space-between;
   }

   .zip-code{
       margin-right: 20%;
   }

   label.contact-label{
      margin-right: 10px;
   }

   .contact-input{
       width: 400px;
   }

  .zip-code{
      margin-right: 300px;
  }

  #state{
      margin-right: 30px;
  }
}
